.landing-page .content{
  max-width: 100%;
  width: 600px;
  padding: 15px 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.landing-page .title{
  font-size: 45px;
}

.landing-page .subtitle{
  margin: 15px 0 30px;
  color: #333;
  font-size: 20px;
}

.landing-page .start-btn{
  padding: 15px 20px;
  border-radius: 5px;
  background: #2d74e5;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

