.add-section-btn{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  display: block;
  background: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  color: #41cbb7;
  border: 1px solid #41cbb7;
}

.add-section-btn::before{
  content: "Add ";
}

.add-section-btn::after{
  content: " + ";
}

.add-section-btn.added::before{
  content: " Remove ";
}

.add-section-btn.added::after{
  content: " - ";
}

.add-section-btn.added{
  color: #fff;
  border-color: transparent;
  background: #41cbb7;
}