/* CSS reset start */
html{-moz-text-size-adjust:none;text-size-adjust:none; -webkit-text-size-adjust: none;-ms-text-size-adjust: 100%;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;word-wrap:break-word;}
*:before,*:after {-webkit-box-sizing: border-box;box-sizing: border-box;}
a{display: inline-block;text-decoration: none;outline: none;}
a:hover{cursor: pointer;}
a:focus{-webkit-box-shadow:none;box-shadow:none;outline: none;}
img {width: 100%;border: 0;vertical-align: middle;}
ul, li{list-style: none}
b,strong {font-weight: normal;}
button,input,select,textarea{border:none;border:none;border-radius:0;background:0 0;-webkit-box-shadow:none;box-shadow:none;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:normal;outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}
select{cursor: pointer;}
input,textarea,input:focus,textarea:focus {-webkit-box-shadow: none;box-shadow: none;outline: 0;}
input[type=submit],button{cursor:pointer;outline: 0;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}
footer,header,nav,main{display: block;}
body{font-family: 'Mulish', sans-serif;}

.container{max-width: 1170px;padding: 0 15px;margin: 0 auto;}
.container:before,.container:after {content: ' ';display: table;}
.container:after {clear: both;}
.container {*zoom: 1;}
main.main-content{min-height: calc(100vh - 457px);}
.clearfix:before,.clearfix:after {content: ' ';display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}