.builder-page-container{
  max-width: 1500px;
  margin: 0 auto;
}

.dashboard-outer-wrap{
  width: 430px;
  height: 100vh;
  float: left;
  overflow: auto;
  border-right: 1px solid #000;
  padding: 15px;
}

.preview-outer-wrap{
  width: calc(100% - 431px);
  height: 100vh;
  float: right;
  overflow: auto;
  padding: 15px;
}

.dashboard-outer-wrap::-webkit-scrollbar {
  width: 10px;
}

.preview-outer-wrap::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.dashboard-outer-wrap::-webkit-scrollbar-track, .preview-outer-wrap::-webkit-scrollbar-track {
  background: #ccc; 
  border-radius: 10px;
}
 
/* Handle */
.dashboard-outer-wrap::-webkit-scrollbar-thumb, .preview-outer-wrap::-webkit-scrollbar-thumb {
  background: #41457e;
  border-radius: 10px; 
}

/* Handle on hover */
.dashboard-outer-wrap::-webkit-scrollbar-thumb:hover, .preview-outer-wrap::-webkit-scrollbar-thumb:hover  {
  background: #2d74e6; 
}